.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo-container {
  width: 120px;
}

.logo-img {
  width: 100px;
}

.nav-container > ul {
  display: flex;
  padding: 0px 20px;
  font-size: 24px;
}

.nav-container > ul > li {
  margin: 10px;
  padding: 10px;
  list-style-type: none;
}

.search {
  padding: 19px;
}

.res-card {
  background-color: #f0f0f0;
  width: 200px;
  height: 400px;
  margin: 5px;
}

.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-logo {
  width: 100%;
  height: 40%;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  background-color: #f0f0f0;
  width: 200px;
  height: 400px;
  margin: 10px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.filter-btn {
  margin-left: 10px;
}

.btn-search .disabled {
  color: darkGray;
  pointer-events: none;
}
